<div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6>Bienvenu chez SOSFormation</h6>
                  <h2>Postuler <em>aux <span>formations</span></em> de votre choix </h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum dicta aspernatur ut adipisci a quae nihil hic, tempore expedita?</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Nous contacter</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +2265676778</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Categories de formation variés</h6>
                  <h2>Trouver ici  <em>les meilleures</em> <span>formations</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque neque temporibus ullam magnam impedit enim, cupiditate illum repellendus voluptate!</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="{{ path("admin_categorie") }}">Categories</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +22689876656</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Multiples formations disponibles</h6>
                  <h2>Plusieurs <em>Formation</em> disponible dans plusieurs <span>domaine</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore ducimus officia velit cumque explicabo? Accusantium eveniet ad a nihil repellat!.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="{{ path("admin_formation_liste") }}">Formations</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +226897876656</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
