{% extends "base.admin.html.twig" %}

{% block titre %}{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body float-center">
			<h3>Modification de la photo de profil</h3><br>
			{% form_theme form "bootstrap_4_layout.html.twig" %}

			{{ form(form) }}

			</div>
		</div>


{% endblock %}
