<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="about footer-item">
            <div class="logo">
              <a href="#"><img src="{{ asset("asset/images/logo.png") }}" alt="Onix Digital TemplateMo"></a>
            </div>
            <a href="#">sosformation@company.com</a>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="services footer-item">
            <h4>Services</h4>
            <ul>
              <li><a href="#">Formation divers</a></li>
              <li><a href="#">Decouverte Business</a></li>
              <li><a href="#">Perfectionement</a></li>
              <li><a href="#">Qualiter formation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="community footer-item">
            <h4>Community</h4>
            <ul>
              <li><a href="#">facebook</a></li>
              <li><a href="#">Instagrame</a></li>
              <li><a href="#">Telegram</a></li>
              <li><a href="#">Discord</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="subscribe-newsletters footer-item">
            <h4>Souscrire aux Newsletters</h4>
            <p>Entrer votre email ou sms, selection la categorie de formation et nous vous notifierons pour les nouvelle formation</p>
            <form action="#" method="get">
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
              <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane-o"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2021 SOSFormation., Ltd. All Rights Reserved. 
            <br>
            Developper par Sabidani yentem Eliseé <a rel="nofollow" href="#" title="free CSS templates"></a><br>
          </p>
          </div>
        </div>

      </div>
    </div>
  </footer>