<img class="img-80 img-radius" src="{{ asset("images/"~admin.photo) }}" alt="User-Profile-Image">
<div class="user-details">
	<span id="more-details">{{ admin.nom }}<i class="fa fa-caret-dow"></i>
	<span id="more-details">{{ admin.prenom }}<i class="fa fa-caret-dow"></i>
	</span>
</div>
